<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects - My Personal Website</title>
    <link rel="stylesheet" href="../resources/css/style.css">
    <link rel="icon" href="../resources/img/favicon.ico">
</head>
<body>
    <!-- Navigation Bar -->
    <nav>
        <ul>
            <li><a href="../../index.html">Home</a></li> <!-- Update the path for Home -->
            <li><a href="hobbies.html">Hobbies</a></li>
            <li><a href="projects.html">Projects</a></li>
            <li><a href="resume.html">Resume</a></li>
            <li style="float:right"><a href="#"><img src="../resources/img/icon.svg" alt="Icon" width="20"></a></li>
        </ul>
    </nav>
    

    <!-- Projects Section -->
    <div class="projects-container">
        <div class="project-card">
            <img src="../resources/img/candyland.jpg" alt="Project 1">
            <h3>Candyland Game Simulation</h3>
            <p>- Developed a text-based simulation of the Candyland board game.<br>
                - Implemented game logic, player movement, and random events using C++.<br>
                - Utilized arrays, vectors, and functions to manage game state and player interactions.</p>
        </div>
        <div class="project-card">
            <img src="../resources/img/moviereview.jpg" alt="Project 2">
            <h3>Movie Review System</h3>
            <p>- Implemented a movie review system using C++.<br>
                - Utilized a hash table for efficient storage and retrieval of movie reviews.<br>
                - Employed a priority queue to manage and display top-rated movies.</p>
        </div>
        <div class="project-card">
            <img src="../resources/img/filemanager.jpg" alt="Project 3">
            <h3>Simple File Manager</h3>
            <p>- A command-line program that allows users to create, delete, and rename files in a specified directory.<br>
                - Users can list the contents of a directory and view file details like size and creation date.<br>
                - The project includes working with file systems, handling file I/O, and understanding how operating systems manage files.</p>
        </div>
    </div>

    <!-- Footer -->
    <footer>
        <p>Connect with me:</p>
        <ul>
            <li>
                <a href="https://www.instagram.com/viviann.diep/" target="_blank">Instagram</a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/vivian-diep-b1761a28b" target="_blank">LinkedIn</a>
            </li>
            <li>
                <a href="https://github.com/vdiep910" target="_blank">GitHub</a>
            </li>
        </ul>
    </footer>